<nav>
    <ul>
        <li><a href="{{ path('main_page') }}">Strona główna</a></li>
        <li><a href="{{ path('app_about_me_page') }}">O mnie</a></li>
        <li><a href="{{ path('articles') }}">Artykuły</a></li>
    </ul>
</nav>
