<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mój blog:3{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block search %}
            {% include 'partials/search.html.twig' %}
        {% endblock %}
        {% block menu %}
            {% include 'partials/menu.html.twig' %}
        {% endblock %}
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
